<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src={{recipe.imagePath}} alt={{recipe.name}} class="img-fluid img-thumbnail">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.name}}</h5>
                        <p class="card-text">{{recipe.description}}</p>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-start"  *ngFor="let ingredent of recipe.ingredients">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">{{ingredent.name}}</div>
                                </div>
                                <span class="badge bg-primary rounded-pill">{{ingredent.amount}}</span>
                              </li>
                          </ul>
                    </div>
                    <div class="card-footer bg-transparent d-flex justify-content-around">
                        <a class="btn btn-info" (click)="addToShoppningList()">To Shopping list</a>
                        <a class="btn btn-secondary" href="#">Edit Recipe</a>
                        <a class="btn btn-primary" href="#">Delete Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>