<div class="row">
    <div class="col-12">
        <div class="card">
            <img src="" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Description</p>
            </div>
            <div class="card-footer bg-transparent">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">To Shopping list</a>
                        <a class="dropdown-item" href="#">Edit Recipe</a>
                        <a class="dropdown-item" href="#">Delete Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>