<div class="row">
    <div class="col-10 mx-auto">
        <h1 class="p-2 mb-4 rounded shadow-sm bg-secondary bg-gradient">Shopping <span class="text-light">List</span>
        </h1>
        <app-shopping-edit></app-shopping-edit>
        <hr />
        <p>The list</p>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-around align-items-center text-danger">
                <h5>Id</h5>
                <h5>Item Name</h5>
                <h5>Stock</h5>
            </li>
            <li class="list-group-item d-flex justify-content-around align-items-center"
                *ngFor="let ingreds of ingredients">
                <h5>{{ingreds.id}}</h5>
                <h5>
                    {{ingreds.name}}
                    <span class="badge badge-primary badge-pill bg-info">{{ingreds.amount}}</span>
                </h5>
                <h5>{{ingreds.modifyDate}}</h5>

            </li>
        </ul>
    </div>
</div>